#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.eloTable {
  background: #ffffff40;
  width: calc(100vw - 400px);
  padding: 25px;
  margin: auto;
  margin-top: 25px;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 25px;
  border-collapse: collapse;
}

tbody {
  border: 0;
}

.eloTable td {
  width: 20%;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
}

.eloTable th {
  text-align: center;
  padding: 25px;
  font-size: 24px;
  font-weight: 900;
}



.eloTable tr:nth-child(2) {
  font-weight: 900;
}

.eloTable td {
  padding: 10px;
}

.eloTable tr:nth-child(odd) {
  background: grey;
}

.eloTable tr:nth-child(1) {
  background: transparent;
}

.seasonNav {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 50px;
  background: grey;
  padding: 0px;
  width: calc(100vw - 400px);
  border: 2px solid black;
}

.season {
  color: white;
  padding: 10px;
  border: 1px solid black;
}

.botImage {
  width: 240px;
  height: 130px;
  object-fit: cover;
  border-radius: 6px;
}